<script>
  window.currentUserId = <%= @current_user_id %>
  window.formAuthenticityToken = "<%= form_authenticity_token %>"
</script>
<%= javascript_include_tag 'application'%>
<%= render "/shared/errors" %>
<div id="content">
</div>
