// Place all the styles related to the api::comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comments-container {
  font-family: Helvetica, sans-serif;
  width: 100%;
}

.comments-list {
  list-style: none;
}

.comments-list li {
  padding: 4px 0;
}

.comments-list-container {
  width: 90%;
  height: 300px;
  word-wrap: break-word;
  overflow: scroll;
}
