// Place all the styles related to the api::events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-page {
  background-color: #f2f2f2;
  padding-bottom: 20px;
}

.map {
  width: 300px;
  height: 300px;
  float: left;
}

.buy-or-delete {
  padding-bottom: 20px;
}

.buy-or-delete button {
  border-radius: 0;
  transition: background-color, 0.5s;
}

.autocomplete-items {
  list-style: none;
}

.autocomplete-items li {
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
}

.form-control {
  border-radius: 0;
}

.index-items {
  width: 80%;
  margin: 10px auto;
}

.grid {
  margin: 20px 0;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.grid-item {
  float: left;
  padding: 10px;
  height: 400px;
  overflow: scroll;
  font-size: 14px;
  font-weight: 600;
  transition: transform, .5s, background-color, .5s;
}

.grid-item img {
  width: 100%;
}

.grid-item:hover {
  background-color: #DCDCDC;
  cursor: pointer;
  transform: translateY(-10px);
}

.item-price {
  font-size: 17px;
  padding-bottom: 4px;
  float:right;
}

.event-title {
  font-size: 18px;
  font-weight: 600;
}

.filter-and-name {
  display: inline-block;
  min-width: 423px;
  min-height: 300px;
  margin-left: 30px;
}

.no-selection {
  width: 50%;
  margin: 0 auto;
  height: 500px;
  text-align: center;
  font-size: 24px;
  padding-top: 100px;
}

.filter-container {
  margin-left: 10px;
  float:left;
}

.filter-container a {
  color: black;
  font-size: 16px;
  font-weight: 400;
}

.filter-container li {
  font-size: 16px;
  font-weight: 400;
}

.filter-container .dropdown-menu li a{
  font-weight: 300;
}

.filter-container .nav>li>a:hover {
  background-color: #2a2a2a;
}
.filter-container .nav>li>a:focus {
  background-color: #2a2a2a;
}

.filter-container .nav>li>a:hover > span {
  color: white;
}
.filter-container .nav>li>a:focus > span {
  color: black;
}

.filter-container .nav>li>a {
  transition: background-color, .7s;
}

.filter-container .nav>li>a>span {
  transition: color, .7s;
}

.caption {
  width: 80%;
  padding-left: 5px;
}

.black {
  background-color: black;
  border: 1px solid white;
  height: 100px;
  width: 100px;
}

.icons:hover {
  cursor: pointer;
  z-index: 1;
}

.icons div {
  font-size: 14px;
  font-weight: 600;
}

.icons .index-item-title {
  font-size: 18px;
}

.event-index-container {
  margin: 20px auto 0 auto;;
}

.event-form {
  background-color: #f2f2f2;
  padding-bottom: 20px;
  font-size: 18px;
}

.event-form .form-control {
  padding-top: 5px;
}

.form-header {
  padding: 15px 0;
}

.form-select {
  border-radius: 0;
  width: 30%;
}

.form-numbers {
  width: 45%;
}

.form-button {
  background-color: #4d4d4d;
  border: none;
  border-radius: 0;
}

#image-button {
  margin-bottom: 15px;
}

.form-button:hover {
  background-color: #2a2a2a;
}

.error-right h3 {
  margin: 150px 0 200px 40px;
}

.error-right h2 {
  margin: 300px 0 0 50%;
}

.form-error {
  height: 100px;
  position: relative;
  bottom: 200px;
  left: 40px;
  font-size: 20px;
}

.image-holder {
  height: 100%;
  margin: 20px 0;
}

.image-holder img{
  border: 2px solid #4d4d4d;
}

.event-form button {
  background-color: #4d4d4d;
  border: none;
  border-radius: 0;
  transition: background-color, .6s;
}

.event-form button:hover {
  background-color: #151515
}

#form-carousel {
  position: relative;
  bottom: 70px;
  right: 150px;
}
