// Place all the styles related to the api::events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-page {
  background-color: #f2f2f2;
  padding-bottom: 20px;
}

.map {
  width: 300px;
  height: 100%;
  float:left;
}

.form-control {
  border-radius: 0;
}

.map-and-filters-container {
  height: 300px;
}

.event-title {
  position: relative;
  left: 20px;
}

.no-selection {
  width: 50%;
  margin: 0 auto;
  height: 500px;
  text-align: center;
  font-size: 24px;
  padding-top: 100px;
}

.filter-container {
  margin-left: 10px;
  float:left;
}

.filter-container a {
  color: black;
  font-size: 16px;
  font-weight: 400;
}

.filter-container li {
  font-size: 16px;
  font-weight: 400;
}

.filter-container .dropdown-menu li a{
  font-weight: 300;
}

.filter-container .nav>li>a:hover {
  background-color: #2a2a2a;
}
.filter-container .nav>li>a:focus {
  background-color: #2a2a2a;
}

.filter-container .nav>li>a:hover > span {
  color: white;
}
.filter-container .nav>li>a:focus > span {
  color: black;
}

.filter-container .nav>li>a {
  transition: background-color, .7s;
}

.filter-container .nav>li>a>span {
  transition: color, .7s;
}

.icons {
  border: 2px solid #dce4ec;
  height: 470px;
  border-radius: 3px;
  margin: 0 0 5px 0;
  transition: transform, .5s, border, .5s, background-color, .5s;
}

.icons:hover {
  cursor: pointer;
  transform: translateY(-5px);
  border-color: #858585;
  background-color: #E0E0E0;
}

.icons div {
  font-size: 14px;
  font-weight: 600;
}

.icons .index-item-title {
  font-size: 18px;
}

.event-index-container {
  margin: 20px auto 0 auto;;
}

.event-form {
  background-color: #f2f2f2;
  padding-bottom: 20px;
  font-size: 18px;
}

.event-form .form-control {
  padding-top: 5px;
}

.form-header {
  padding: 15px 0;
}

.form-select {
  border-radius: 0;
  width: 30%;
}

.form-numbers {
  width: 45%;
}

.form-button {
  background-color: #4d4d4d;
  border: none;
  border-radius: 0;
}

#image-button {
  margin-bottom: 15px;
}

.form-button:hover {
  background-color: #2a2a2a;
}

.error-right h3 {
  margin: 150px 0 200px 40px;
}

.error-right h2 {
  margin: 500px 0 100px 50%;
}

.form-error {
  position: relative;
  top: 120px;
  left: 40px;
  font-size: 30px;
}

.image-holder {
  height: 100%;
  margin: 20px 0;
}

.image-holder img{
  border: 2px solid #4d4d4d;
}
