// Place all the styles related to the Api::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info {
  background-color: #f2f2f2;
  padding-bottom: 10px;
}

.user-detail-filler {
  height: 1000px;
  background-color: #f2f2f2;
}

.comments-container {
  width: 100%;
}

.user-event-index {
  height: 100%;
  margin-bottom: 20px;
}

.add-comment {
  padding-bottom: 20px;
}

.comments-list-container {
  width: 90%;
  height: 300px;
  word-wrap: break-word;
  overflow: scroll;
}

.host-head {
  display: inline-block;
  width: 300px;
  padding-bottom: 20px;
}

.event-detail {
  top: 20px;
}

.host-background {
  height: 200px;
  background-position: 0% 70%;
  border-bottom: 8px solid #dce4ec;
}

.follow {
  height: 120px;
  width: 200px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}

.user-button {
  border-radius:0;
  width: 120px;
  transition: background-color, .5s;
}

.event-detail .info {
  padding: 10px 0;
  font-weight: normal;
  font-size: 17px;
}

.host-head img,
.event-detail img {
  border: 2px solid #dce4ec;
}

.host-head img:hover,
.event-detail img:hover {
  cursor: default;
}

#headingOne,
#headingTwo {
  background-color: #E0E0E0;
  font-color: #2a2a2a;
}

.panel-heading {
  transition: background-color, .7s;
}

.panel-heading {
  transition: color, .7s;
}

#headingOne:hover,
#headingTwo:hover {
  background-color: #2a2a2a;
  cursor: pointer;
  color: white;
}

#collapseOne,
#collapseTwo {
  margin: 20px 20px;
  font-weight: 400;
  line-height: 24px;
}
