// Place all the styles related to the Api::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.host-description {
  padding: 20px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}

.host-head {
  padding-bottom: 20px;
}

.host-head img,
.event-detail img {
  border: 2px solid #dce4ec;
}

.host-head img:hover,
.event-detail img:hover {
  cursor: default;
}
