/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */
 // @function set-notification-text-color($color) {
 //   @if (lightness($color) > 50) {
 //     @return #000000; // Lighter backgorund, return dark color
 //   } @else {
 //     @return #ffffff; // Darker background, return light color
 //   }
 // }

 // $list: ("http://res.cloudinary.com/dlqjek68b/image/upload/v1450654179/photo-1446587114233-38830eb63a76_n3iidf.jpg",
 //        "http://res.cloudinary.com/dlqjek68b/image/upload/v1450693640/photo-1444426724550-c7bfccd051ee_d20xvh.jpg",
 //        "http://res.cloudinary.com/dlqjek68b/image/upload/v1450654178/photo-1445251836269-d158eaa028a6_ewteda.jpg");

 // @function change-background() {
 //   @setInterval(function() {
 //     $index: 1;
 //     @while $index <= 3
 //     $image-number: $index;
 //     $index: $index + 1;
 //     @if $index > 3
 //       $index: 1;
 //     @return nth($list, $image-number)
 //   }, 4000);
 // }

//  p {
//   animation-duration: 3s;
//   animation-name: slidein;
// }
//
// @keyframes slidein {
//   from {
//     margin-left: 100%;
//     width: 300%;
//   }
//
//   to {
//     margin-left: 0%;
//     width: 100%;
//   }
// }
//
// @function set-notification-text-color($color) {
//   @if (lightness($color) > 50) {
//     @return #000000; // Lighter backgorund, return dark color
//   } @else {
//     @return #ffffff; // Darker background, return light color
//   }
// }

body, h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

#logo {
  font-size: 26px;
  letter-spacing: 6px;
  font-weight: 200;;
}

.navbar {
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 0;
  border-radius: 0;
}

.transparency{
  background: transparent;
}

.navbar .sign-out-link {
  border: none;
  font-size: 16px;
  background: transparent;
  margin-left: 50px;
  font-weight: 500;
  transition: font-size, 1s;
}

.jumbotron {
  z-index: -1;
  position:relative;
  top: -60px;
  background-size: cover;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  height: 500px;
  transition: background-image 2s, color 2s;
  margin-bottom: 0;
}

.jumbotron button {
  background-color: #424242;
  border: none;
  border-radius: 0;
  transition: background-color, .6s;
}

.jumbotron button:hover {
  background-color: #333333;
}

.jumbotron p {
  font-weight: 300;
}

.popular-search {
  height: 200px;
  text-align: center;
  line-height: 100%;
  width: 1000px;
  margin: 20px auto;
}

.popular-search form input {
  border-radius: 0;
  transition: border, .5s;
  text-align: center;
}

.popular-search .form-inline .form-control {
  height: 40px;
  width: 300px;
  text-align:left;
}

.popular-search form input:focus {
  border-color: #4d4d4d;
}

.popular-search form button {
  border: none;
  border-radius: 0;
  transition: background-color, 1s;
}

.popular-search form button:hover {
  background-color: #424242;
}

.popular-title {
  margin: 0 0 20px 20px;

}

img:hover {
  cursor: pointer;
}

div .popular-icons {
  padding: 0 30px 30px 0;
  opacity: 0.6;
  transition: opacity, 1s;
}

div .popular-icons:hover {
  opacity: 1;
}

.event-page {
  background-color: #f2f2f2;
}


.map {
  width: 300px;
  height: 300px;
}
