// Place all the styles related to the follows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.follower-container {
  height: 800px;
  overflow: scroll;
}

.follower-container li {
  font-family: sans-serif;
  list-style: none;
  font-size: 16px;
  padding-top: 5px;
}

.follower-container li:hover {
  cursor: pointer;
  color: #9999cc;
}

.no-followers {
  padding: 10px 0 0 50px;
}
