// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-container {
  background-color: #f2f2f2;
  min-height: 1200px;
  width: 100%;
}

.logo {
  letter-spacing: 7px;
  font-weight: 100;
}

.sign-up-button {
  border-radius: 0;
  transition: background-color, 0.5s;
}

.or-sign-in {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  letter-spacing: 2px;
}

.errors {
  margin-top: 15px;
  font-size: 18px;
  list-style: none;
}

.errors-container {
  position: relative;
  bottom: 400px;
  left: 360px;
}


.spinner2 {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position:absolute;
  left: 252px;
  top: 20px;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot11, .dot22 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: black;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot22 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
//
// @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
// @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
//
// @-webkit-keyframes sk-bounce {
//   0%, 100% { -webkit-transform: scale(0.0) }
//   50% { -webkit-transform: scale(1.0) }
// }
//
// @keyframes sk-bounce {
//   0%, 100% {
//     transform: scale(0.0);
//     -webkit-transform: scale(0.0);
//   } 50% {
//     transform: scale(1.0);
//     -webkit-transform: scale(1.0);
//   }
// }
