// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-container {
  background-image: url('http://res.cloudinary.com/dlqjek68b/image/upload/v1450772408/photo-1448318440207-ef1893eb8ac0_1_lgb6am.jpg');
  background-size: cover;
  // background-position: 0% 50%;
  background-repeat: no-repeat;
}
